.text-slider{
  padding-bottom: 3em;
  .background-image{
    background-repeat: no-repeat;
    background-position: center center;
    //background-size: 200px;
  }

  .text-slider-text{
    font-size: 1.2em;
  }
  .text-slider-short-text{
    font-size: 0.55em;
  }


  .text-slider-sign{
    font-size: 100px;
    //transform: rotate(180deg);
    line-height: 0.75;
    color: $primary;
    font-weight: bold;
    font-family: $headline-font-family;
    margin-top: 0;
    margin-bottom:0;
  }

  .wrapper{
    //margin-bottom: 125px;
  }

.splide__pagination {
  bottom: -2em;
}


}