#navbar {
  font-family: $nav-font-family !important;
  font-weight: $nav-mobile-font-weight !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 900;
  height: $nav-height-mobile;
  background-color: $nav-bg-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5%;
  padding-left: 5%;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);

  @media (min-width: $breakpoint-nav) {
    padding-right: 4%;
    padding-left: 4%;
    align-items: flex-start;
    position: absolute;
    background-color: $nav-bg-color-desktop;
    font-weight: $nav-desktop-font-weight !important;
    height: $nav-height-desktop;
    &.scroll-down{
      position: fixed;
      transition: all 0.6s ease-in-out;
    }
    &.scroll-down.recolor{
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }
    &.scroll-up{
      position: fixed;
      top: 0;
      transition: all 0.3s ease-in-out;
      opacity: 1;
      &.recolor{
        box-shadow: 0 4px 13px -6px rgba(0, 0, 0, 0.3);
      }
    }
  }
  @media screen and (min-width: 1920px){
    padding-right: 10%;
    padding-left: 10%;
  }


  @import "brand";
}
