

> .sub-menu {
  display: none;
  padding-bottom: 1em;
  background-color: $subnav-mobile-bg-color;
  padding-left: 0;
  @media (min-width: $breakpoint-nav) {
    background-color: $subnav-desktop-bg-color;
    display: block;
    min-width: 180px;
    position: absolute;
    top: calc( 100% + 1px );
    padding-top: 5px;
    left: 0;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    box-shadow: 10px 10px 12px -6px rgba(0,0,0,0.2);
  }


  li, a {
    font-size: $mobile-nav-font-size * 0.9;
    @media only screen and (min-width: $breakpoint-nav) {
      font-size: $desktop-subnav-font-size;
    }
  }



  li {
    height: 0;
    transform: scaleY(0);

    @media (min-width: $breakpoint-nav) {
      transform: none;
      height: auto;
      background-color: $subnav-desktop-bg-color;
    }

    &.current-menu-item > a {
      color: $subnav-active-color;
    }
  }

  a {
    line-height: 1.2;
    padding: .7em 0 .7em .7em;
    color: $subnav-mobile-color;

    &:hover {
      color: $subnav-active-color;
    }

    @media (min-width: $breakpoint-nav) {
      padding: .7em 1rem;
      color: $subnav-desktop-color;
    }
  }

}

input[type="checkbox"] {
  display: none;

  &:checked {
    ~ .menu-toggle {
      //background-color: darken($primary-color, 2%);
      em:before,
      em:after {
        transform: rotate(0) translateY(-2px);
      }
    }

    ~ .sub-menu {
      display: block;

      li {
        @media (max-width: #{$breakpoint-nav - 1px}) {
          height: auto;
          transform: scaleY(1);
        }
      }
    }
  }
}




