*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  line-height: $base-line-height;
  scroll-behavior: smooth;
  font-size: $base-font-size-desktop;

  @media only screen and (max-width: $sm - 1px) {
    font-size: $base-font-size-mobile;
  }

  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: $base-bg-color;
  padding-top: $nav-height-mobile;
  overflow-x: hidden;
  position: relative;
  @media (min-width: $breakpoint-nav) {
    padding-top: $nav-height-desktop;
  }
}




