/*
*
*  Header-Slider Button s. scss/blocks/header
*/

@mixin button($background-color, $color, $border-color) {
  //white-space: nowrap;
  display: inline-block ;
  text-decoration: none ;
  text-align: center ;
  cursor: pointer ;
  border-radius: 4px ;
  position: relative ;
  padding: .8em 1em ;
  line-height: 1 ;
  margin: 1em 0 1.1em 0 ;
  color: $color ;
  background: $background-color ;
  border: 1px solid $border-color;
  overflow: hidden ;
  transition: all 0.3s linear ;
  font-family: $primary-font-family;
  font-weight: $base-font-weight;
  &:hover {
    color: $background-color ;
    background-color: $color ;
  }
  &:active {
    color: $background-color ;
    background-color: $color;
  }
}


// header-btn s. header-slider.scss
.btn,
.ff-btn,
input[type="submit"],
.sib-default-btn,
.wp-block-button .wp-block-button__link {
  @include button(#ffffff, $secondary, #ebebeb);
}

.is-style-btn-primary .wp-block-button__link,
.btn-primary {
  @include button(#ffffff, $primary, #ebebeb);
}

.is-style-btn-secondary .wp-block-button__link,
.btn-secondary {
  @include button(#ffffff, $secondary, #ebebeb);
}

