
.has-background {
  a:not(.btn):not(.btn-primary):not(.is-style-btn-primary):not(.btn-secondary):not(.is-style-btn-secondary) {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: inherit;
  }
}

.wp-block-columns {
  gap: 1.5em;
  @media screen and (min-width: $lg) {
    gap: 2em;
  }
  &.is-style-reverse {
    flex-wrap: wrap-reverse;
  }

  .wp-block-column {
    //margin-bottom: 1.5em;
    > *:first-of-type {
      margin-top: 0;
    }
  }

}

.has-parallax {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.is-style-image-shadow img {
  box-shadow: 21px 13px 25px -18px rgba(0, 0, 0, 0.37) !important;
}

.is-style-overlap-content {
  @media screen and (min-width: $md) {

    > .has-background:nth-of-type(2) {
      transform: translateY(4rem) translateX(-5rem);
    }
    > .has-background:nth-of-type(1) {
      transform: translateY(4rem) translateX(5rem);
    }
  }
}

