
.has-background {
  padding: $section-padding-mobile;
  @media screen and (min-width: $breakpoint-nav) {
    padding: $section-padding-desktop;
  }
  @media screen and (min-width: $fz) {
    padding: calc($section-padding-desktop * 1.15);
  }

  a:not(.btn):not(.btn-primary):not(.is-style-btn-primary):not(.btn-secondary):not(.is-style-btn-secondary) {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: inherit;
  }
}

.wp-block-columns {
  gap: $column-gap;
  @media screen and (min-width: $lg) {
    gap: calc($column-gap * 2);
  }

  &.is-style-reverse {
    flex-wrap: wrap-reverse !important;
  }

  .wp-block-column:not(.is-style-section) {
    //margin-bottom: 1.5em;
    > *:first-of-type {
      margin-top: 0;
    }
  }

}

.has-parallax {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.is-style-image-shadow img {
  box-shadow: 21px 13px 25px -18px rgba(0, 0, 0, 0.37) !important;
}

.is-style-overlap-content {
  @media screen and (min-width: $md) {

    > .has-background:nth-of-type(2) {
      transform: translateY(4rem) translateX(-5rem);
    }
    > .has-background:nth-of-type(1) {
      transform: translateY(4rem) translateX(5rem);
    }
  }
}

