#content {
  min-height: 60vh;
  padding-bottom: 3rem;
  @media only screen and (min-width: $md) {
    padding-top: 3rem;
    padding-bottom: 6rem;
  }

  > *:first-child:not(.wp-block-cover.alignfull):not(.wp-block-image.alignfull):not(.block-header-slider) {
    margin-top: 3rem;

  }
}

.container,
.alignfull:not(.block-header-slider):not(.block-slider):not(.wp-block-image):not(.wp-block-cover):not(.wp-block-media-text) > *,
.alignwide > *:not(.container-large):not(.wp-block-image):not(.wp-block-cover) {
  padding-right: $container-padding-mobile;
  padding-left: $container-padding-mobile;
  max-width: $container-width-mobile;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $sm) {
    padding-right: $container-padding-desktop;
    padding-left: $container-padding-desktop;
    max-width: $container-width-desktop;
  }


}

.alignfull {
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  max-width: 100vw;
  width: 100vw;
}

.is-style-container-small {
  @media (min-width: $sm) {
    max-width: calc($container-width-desktop * 0.65);
    margin: 0 auto;
  }
}

.no-gap-mobile {
  @media screen and (max-width: 781px) {
    gap: 0 !important;
  }
}


#content > .wp-block-columns {
  @include section-spacing();
}

#content > .wp-block-group {
  @include section-spacing();
}


.wp-block-columns {
  gap: $column-gap;
  @media screen and (min-width: $breakpoint-nav) {
    gap: calc($column-gap * 2);
  }

  &.is-style-reverse {
    flex-wrap: wrap-reverse !important;
  }
}

.has-background:not(.wp-block-group) {
  padding: $background-spacing-mobile;
  @media screen and (min-width: $breakpoint-nav) {
    padding: calc($background-spacing-mobile * 3) ;
  }

  &.wp-block-columns{
    @media screen and (min-width: $breakpoint-nav) {
      padding: $background-spacing-desktop ;

    }

  }

  a:not(.btn):not(.btn-primary):not(.is-style-btn-primary):not(.btn-secondary):not(.is-style-btn-secondary) {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: inherit;
  }

}

.has-background.wp-block-group{
  padding-top: $background-spacing-mobile ;
  padding-bottom: $background-spacing-mobile ;
  @media screen and (min-width: $breakpoint-nav) {
    padding-top: $background-spacing-desktop ;
    padding-bottom: $background-spacing-desktop ;
  }

}



.alignwide {
  margin-right: calc(25% - 25vw);
  margin-left: calc(25% - 25vw);
}


.noscroll {
  overflow: hidden;
}


.tsc-icon {
  width: 100px;
}

.m-h-6 {
  min-height: 6rem;
}