@mixin section-spacing(){
  margin-top: $section-spacing-mobile;
  margin-bottom: $section-spacing-mobile;
  @media screen and (min-width: $breakpoint-nav) {
    margin-top: $section-spacing-desktop;
    margin-bottom: $section-spacing-desktop;
  }
}

