#sidebar-menu{
  position: fixed;
  bottom: 20%;
  right: 5px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 1.8em;
@media only screen and (min-width: $sm) {
  top: 25vh;
  bottom: unset;

}


  a{
    text-decoration: none;


    i{
      color: #fff;
      background-color: $secondary;
      padding: 12.5px;
      box-shadow: 4px 4px 10px -2px rgba(0,0,0,0.4);
      transition: all ease-in-out 0.3s;
      opacity: 0.75;
      &:hover{
        box-shadow: 1px 1px 9px 2px rgba(0,0,0,0.2);
        opacity: 0.55;
        transition: box-shadow 0.3s ease-in-out;
      }


    }
  }



}