h1, h2, h3, h4, h5, h6 {
  font-family: $headline-font-family;
  font-weight: $headline-font-weight;
  color: $headline-color;
  line-height: 1.1;
  margin-top: 1em;
  margin-bottom: .2em;
  position: relative;
}
$headline-font-size:1rem;


h1 {
  font-size: $headline-font-size * 3;
}

h2:not(.post-title) {
  font-size: $headline-font-size * 2;
}

h3 {
  font-size: $headline-font-size * 1.5;
}

h4:not(.post-title) {
  font-size: $headline-font-size 1.25;
}

h5 {
  font-size: $headline-font-size;
}

h6 {
  font-size: $headline-font-size;
}



@media screen and (min-width: $sm) {

  h1 {
    font-size: $headline-font-size * 6;
  }

  h2:not(.post-title) {
    font-size: $headline-font-size * 4;
  }

  h3 {
    font-size: $headline-font-size * 2;
  }

  h4:not(.post-title) {
    font-size: $headline-font-size 1.5;
  }

  h5 {
    font-size: $headline-font-size * 1.25;
  }

  h6 {
    font-size: $headline-font-size;
  }


}