
a {
  color: $secondary;
  transition: all 250ms linear;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    background-color: rgba($base-color, .3);
  }

  &.more-link {
    display: inline-block;
  }
}