ul{
  li::marker{
    color: $list-marker-color;
  }
}

ul.is-style-highlights {
  list-style-type: none;
  padding: 0;
  padding-top: 1em;


  li {
    position: relative;
    padding-left: 1.1em;
    margin-bottom: .4em;

    &:before {
      @include flaticon;
      content: $icon-right-arrow;
      color: $list-marker-color;
      position: absolute;
      font-size: .6em;
      top: .6em;
      left: 0;
    }
  }
}

ul.is-style-check {
  list-style-type: none;
  padding: 0;
  padding-top: 1em;


  li {
    position: relative;
    padding-left: 1.4em;
    margin-bottom: .4em;

    &:before {
      @include flaticon;
      content: $icon-check;
      color: $list-marker-color;
      position: absolute;
      font-size: 1.1em;
      top: .2em;
      left: 0;
    }
  }
}


