

$primary-font-family: var(--wp--preset--font-family--primary);
$secondary-font-family: var(--wp--preset--font-family--secondary);

$base-font-size-desktop: 17px;
$base-font-size-mobile: $base-font-size-desktop * 1.05;
$base-line-height: 1.5;
$base-font-weight: 400;

$primary:   var(--wp--preset--color--primary);
$secondary: var(--wp--preset--color--secondary);
$third:     var(--wp--preset--color--third);
$lighted:   var(--wp--preset--color--lighted);
$darken:    var(--wp--preset--color--darken);

$base-bg-color: var(--wp--preset--color--base-bg);
$base-color: var(--wp--preset--color--base);
$base-border-color: var(--wp--preset--color--border);



// N A V *********************
$nav-font-family: $primary-font-family;
$nav-height-mobile: 60px;
$nav-height-desktop: 80px;

$nav-mobile-font-weight: 700;
$nav-desktop-font-weight: 400;
$nav-mobile-active-font-weight: 700;
$nav-desktop-active-font-weight: 700;

$mobile-nav-font-size: 16px;
$desktop-nav-font-size: 14px;
$desktop-subnav-font-size: 16px;
$nav-font-letter-spacing: 1.2px;

$nav-bg-color: #fff;
$nav-bg-color-desktop:      $nav-bg-color;

$nav-color:                 $base-color;
$nav-color-desktop:         $nav-color;
$nav-active-color:          $third;
$nav-active-color-desktop:  $nav-active-color;
$subnav-active-color:       $nav-active-color;
$subnav-active-bg-color:    $nav-bg-color;

$subnav-mobile-bg-color:    $nav-bg-color;
$subnav-mobile-color:       $nav-color;

$subnav-desktop-bg-color:   $nav-bg-color;
$subnav-desktop-color:      $nav-color;


/* *** HEADLINES *** */
$headline-font-family:  var(--wp--preset--font-family--secondary);
$headline-font-weight:  700;
$headline-color:        $primary;



/* *** WIDGETS *** */
$widgets-bg-color:      $lighted;
$widgets-color:         $base-color;


/* *** FOOTER *** */
$footer-font-family:    $primary-font-family;
$footer-font-weight:    400;
$footer-bg-color:       $base-color;
$footer-color:          $base-color;
$footer-nav-color:      $base-color;

$bg-img-footer-color:     #fff;
$bg-img-overlay-color:    $darken;
$bg-img-overlay-opacity:  0.8;


/* *** LISTS *** */
$list-marker-color: $primary;


/* *** POSTS *** */
$post-item-bg:          $darken;
$post-color:            $lighted;
$post-button-color:     $lighted;
$post-meta-font-size:   0.9rem;
$post-item-max-width:   350px;




/*
$danger: #ff4444;
$warning: #ffbb33;
$success: #00c851;
$info: #33b5e5;
*/


/* *** MEDIA QUERIES *** */

$xxs:   420px;
$xs:    600px;
$sm:    768px;
$md:    992px;
$lg:    1200px;
$xl:    1400px;
$xxl:   1600px;
$full:  1920px;

$breakpoint-nav: 1200px;

$content-max-width:           1400px;
$container-padding-mobile:    20px;
$container-padding-desktop:   50px;
$container-width-mobile:      (2 * $container-padding-mobile + $content-max-width);
$container-width-desktop:     (2 * $container-padding-desktop + $content-max-width);


$font-path: "assets/fonts" !default;

// ***  I C O N S  *** //

$icon-facebook-app-symbol:          "\f101";
$icon-instagram:                    "\f102";
$icon-linkedin:                     "\f103";
$icon-mail:                         "\f104";
$icon-telephone:                    "\f105";
$icon-check:                        "\f106";
$icon-right-arrow:                  "\f107";
$icon-left-arrow:                   "\f108";
$icon-arrow-down-sign-to-navigate:  "\f109";
$icon-up-arrow:                     "\f10a";
$icon-youtube:                      "\f10b";
$icon-maps-and-flags:               "\f10c";
$icon-whatsapp:                     "\f10d";
$icon-signal:                       "\f10e";


