$base-font-family: 'Catamaran', sans-serif;

$base-font-size-desktop: 18px;
$base-font-size-mobile: $base-font-size-desktop * 1.05;
$base-line-height: 1.45;
$base-font-weight: 200;

$primary: var(--wp--preset--color--primary);
$secondary: var(--wp--preset--color--secondary);
$third: var(--wp--preset--color--third);

$lighted: var(--wp--preset--color--lighted);
$darken: var(--wp--preset--color--darken);

$base-bg-color: var(--wp--preset--color--base-bg);
$base-color: var(--wp--preset--color--base);
$base-border-color: var(--wp--preset--color--border);


// N A V *********************
$nav-height-mobile: 60px;
$nav-height-desktop: 80px;

$nav-font-family: 'Catamaran', sans-serif;

$nav-mobile-font-weight: 600;
$nav-desktop-font-weight: 200;
$nav-mobile-active-font-weight: 600;
$nav-desktop-active-font-weight: 600;

$mobile-nav-font-size: 18px;
$desktop-nav-font-size: 19px;
$desktop-subnav-font-size: 16px;

$nav-font-letter-spacing: 1.2px;

$menu-social-icon-color : #000;
$menu-social-icon-color-hover: $primary;

$nav-bg-color: #fff;
$nav-bg-color-desktop: $nav-bg-color;
$nav-color: $base-color;
$nav-color-desktop: $nav-color;
$nav-active-color: $third;
$nav-active-color-desktop: $third;
$subnav-active-color: $third;
$subnav-active-bg-color: $third;

$subnav-mobile-bg-color: $nav-bg-color;
$subnav-mobile-color: $nav-color;

$subnav-desktop-bg-color: $nav-bg-color;
$subnav-desktop-color: $nav-color;

// POSTS
$post-item-bg: $darken;
$post-color: $lighted;
$post-button-color: $lighted;
$post-meta-font-size: 0.9rem;
$post-item-max-width: 350px;


$headline-font-family: 'Catamaran', serif;
$headline-font-weight: 400;
$headline-color: $base-color;

$widgets-bg-color: $lighted;
$widgets-color: $base-color;

$footer-font-family: 'Catamaran', sans-serif;
$footer-font-weight: 200;
$footer-bg-color: $base-color;
$footer-color: $base-color;
$footer-nav-color: $base-color;


$bg-img-footer-color: #fff;
$bg-img-overlay-color: $primary;
$bg-img-overlay-opacity: 0.7;

/*
$danger: #ff4444;
$warning: #ffbb33;
$success: #00c851;
$info: #33b5e5;
*/

$xxs: 420px;
$xs: 600px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1400px;
$xxl: 1600px;

$breakpoint-nav: 1200px;

$content-max-width: 1400px;
$container-padding-mobile: 20px;
$container-padding-desktop: 50px;
$container-width-mobile: (2 * $container-padding-mobile + $content-max-width);
$container-width-desktop: (2 * $container-padding-desktop + $content-max-width);



$font-path: "assets/fonts" !default;

// ***  I C O N S  *** //
$icon-font-family: "icons";

$icon-download: "\e911";
$icon-arrow_left: "\e90b";
$icon-arrow_right: "\e90c";
$icon-arrow_back: "\e90d";
$icon-arrow_forward: "\e90e";
$icon-cert_left: "\e90f";
$icon-cert_right: "\e910";
$icon-newsletter: "\e913";
$icon-facebook: "\e907";
$icon-instagram: "\e908";
$icon-linkedin: "\e90a";
$icon-youtube: "\e909";
$icon-webdevelopment: "\e912";
$icon-linkedin_full: "\e900";
$icon-pdf: "\e901";
$icon-social: "\e902";
$icon-technic: "\e903";
$icon-quality: "\e904";
$icon-figure: "\e905";
$icon-map: "\e906";

